@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --font-family: 'Ubuntu', sans-serif;
    --grey: grey;
    --light-grey: #ddd;
    --brown1: #a32d29;
    --brown2: #e9423b;
    --brown3: #ff8280;
    --brown4: #ffd1cf;
    --body-color: #f2edf3;
    --white: #fff;
    --red: red;
    --grey-purple: #beabc1;
    --grey-black: #383838;
    --black: black;
}

*{
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--grey-black);
}
a{
    text-decoration: none !important;
    color: inherit !important;
}

html{
    scroll-behavior: smooth;
}
header{
    background: var(--white);
}
.logo-text{
    color: var(--brown1);
    font-size: 25px;
    font-weight: 900;
}

.dropdown-menu {
    position: absolute;
    background-color: var(--white);
    max-width: 405px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: var(--light-grey);
}
.dropdown-content .chats{
    font-weight: 400;
}


#main-body-col{
    background: var(--body-color);
}


input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-bottom: 1px solid var(--brown1) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
::placeholder{
    color: var(--grey-black);
    font-weight: 100 !important;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-toggler {
    border: none !important;
    padding: 2px !important;
    box-shadow: none !important;
}
.fa-bars {
    font-size: 25px !important;
}
i{
    color: var(--brown1);
    font-size: 20px;
}

.nameDiv img{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid var(--brown1);
}
#top-row .nameDiv i{
    color: var(--brown1);
    font-size: 12px;
}
#side-menu #bookmark-column img, #offcanvasRight .chatlist img, .table img, .dropdown-content img, .dropdown-item img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#side-menu #bookmark-column .small-text{
    font-size: 14px;
    font-weight: 500;
}
#side-menu #double-icons h6{
    /* font-weight: 500; */
    font-size: 14px;
}


/* off-canvas */
#offcanvasRight #offcanvashead, #offcanvasRight .btn, #todo-list2 .btn{
    background: hsla(1, 100%, 81%, 1);

    background: linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA2A0", endColorstr="#A32D29", GradientType=1 );
}
#offcanvasRight #offcanvasRightLabel h6{
    color: var(--white);
    font-weight: 400;
}
#offcanvasRight .itemText, p, #todo-list2{
    font-weight: 300;
    font-size: 15px;
}
#offcanvasRight .xmark i{
    color: var(--white);
    font-size: 22px;
}
#todo-list .btn, #todo-list2 .btn{    
    border: none;
}
#todo-list2, #offcanvasRight #todo-list input[type="checkbox"]:checked {
    accent-color: var(--brown1);
}
.chatText {
    display: inline-block;
    transition: text-decoration 0.3s;
}
.itemText, .itemText2 {
    display: inline-block;
    transition: text-decoration 0.3s;
}
.completed {
    text-decoration: 2px var(--brown1) line-through;
}
.complete {
    color: var(--brown1) !important;
}
#offcanvasRight #todo-list i, #todo-list2 i{
    color: var(--brown3);
}
#offcanvasRight #todo-list .circle-i i{
    color: var(--brown1);
}
#offcanvasRight #todo-list, #todo-list2, #chats, #side-menu-small, #side-menu, #main-body-col{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
#offcanvasRight .alert-danger, #todo-list2  .alert-danger{
    color: var(--red);
}

#offcanvasRight .alert, #todo-list2 .alert{
    padding: 5px;
    text-align: center;
    border: none;
    font-weight: 400;
}

#offcanvasRight .chatlist small{
    color: var(--grey);
}
#offcanvasRight .chatlist span{
    color: var(--grey);
    font-size: 14px;
}



/* MAIN CONTENT */
.faHouse{
    padding: 7px;
    border-radius: 3px;
    background-color: var(--brown1);
    color: var(--white);
    font-size: 14px;
}
.card i{
    color: white;
}
.card1{
    background: hsla(1, 100%, 81%, 1);

    background: linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(1, 100%, 81%, 1) 0%, hsla(2, 60%, 40%, 1) 45%, hsla(1, 100%, 81%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA2A0", endColorstr="#A32D29", GradientType=1 );
}
.card2{
    background: hsla(2, 80%, 75%, 1);

    background: linear-gradient(45deg, hsla(2, 80%, 75%, 1) 0%, hsla(2, 80%, 57%, 1) 45%, hsla(2, 100%, 91%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(2, 80%, 75%, 1) 0%, hsla(2, 80%, 57%, 1) 45%, hsla(2, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(2, 80%, 75%, 1) 0%, hsla(2, 80%, 57%, 1) 45%, hsla(2, 100%, 91%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2908C", endColorstr="#E9423B", GradientType=1 );
}
.card3{
    background: hsla(2, 100%, 91%, 1);

    background: linear-gradient(45deg, hsla(2, 100%, 91%, 1) 0%, hsla(1, 100%, 75%, 1) 47%, hsla(2, 100%, 91%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(2, 100%, 91%, 1) 0%, hsla(1, 100%, 75%, 1) 47%, hsla(2, 100%, 91%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(2, 100%, 91%, 1) 0%, hsla(1, 100%, 75%, 1) 47%, hsla(2, 100%, 91%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD1CF", endColorstr="#FF8280", GradientType=1 );
}

.circleOne i, .circleTwo i, .circleThree i, .circleFour i{
    font-size: 16px;
    padding-top: 3px;
}
.circleOne i{
    color: var(--brown1);
}
.circleTwo i{
    color: var(--brown2);
}
.circleThree i{
    color: var(--brown3);
}
.circleFour i{
    color: var(--brown4);
}


#mainColTwo span{
    font-size: 12px;
}
.table .pColor1, .pColor2, .pColor3, .pColor4{
    text-align: center;
    font-size: 12px;
    width: 100px !important;
}
.table img{
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 40px;
}
.table p{
    width: 185px;
}
.myTable2 .table p{
    width: 100px;
}
.table .tableColor{
    width: 100px;
}

.myTable2 .table th, .myTable2 .table td{
    padding-top: 20px;
}
.myTable2 .table .progress #progress1, .pColor1{
    background: hsla(171, 67%, 91%, 1);

    background: linear-gradient(45deg, hsla(171, 67%, 91%, 1) 0%, hsla(171, 63%, 56%, 1) 28%, hsla(171, 63%, 56%, 1) 68%, hsla(171, 67%, 91%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(171, 67%, 91%, 1) 0%, hsla(171, 63%, 56%, 1) 28%, hsla(171, 63%, 56%, 1) 68%, hsla(171, 67%, 91%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(171, 67%, 91%, 1) 0%, hsla(171, 63%, 56%, 1) 28%, hsla(171, 63%, 56%, 1) 68%, hsla(171, 67%, 91%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D7F7F2", endColorstr="#47D5C0", GradientType=1 );
}
.myTable2 .table .progress #progress2, .pColor2{
    background: hsla(191, 67%, 91%, 1);

    background: linear-gradient(45deg, hsla(191, 67%, 91%, 1) 0%, hsla(190, 90%, 50%, 1) 28%, hsla(190, 90%, 50%, 1) 68%, hsla(191, 67%, 91%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(191, 67%, 91%, 1) 0%, hsla(190, 90%, 50%, 1) 28%, hsla(190, 90%, 50%, 1) 68%, hsla(191, 67%, 91%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(191, 67%, 91%, 1) 0%, hsla(190, 90%, 50%, 1) 28%, hsla(190, 90%, 50%, 1) 68%, hsla(191, 67%, 91%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D7F1F7", endColorstr="#0DCAF0", GradientType=1 );
}
.myTable2 .table .progress #progress3, .pColor3{
    background: hsla(46, 79%, 87%, 1);

    background: linear-gradient(45deg, hsla(46, 79%, 87%, 1) 0%, hsla(45, 100%, 52%, 1) 28%, hsla(45, 100%, 52%, 1) 68%, hsla(46, 79%, 87%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(46, 79%, 87%, 1) 0%, hsla(45, 100%, 52%, 1) 28%, hsla(45, 100%, 52%, 1) 68%, hsla(46, 79%, 87%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(46, 79%, 87%, 1) 0%, hsla(45, 100%, 52%, 1) 28%, hsla(45, 100%, 52%, 1) 68%, hsla(46, 79%, 87%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F8EBC2", endColorstr="#FFC108", GradientType=1 );
}
.myTable2 .table .progress #progress4, .pColor4{
    background: hsla(353, 77%, 91%, 1);

    background: linear-gradient(45deg, hsla(353, 77%, 91%, 1) 0%, hsla(354, 70%, 54%, 1) 28%, hsla(354, 70%, 54%, 1) 68%, hsla(353, 77%, 91%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(353, 77%, 91%, 1) 0%, hsla(354, 70%, 54%, 1) 28%, hsla(354, 70%, 54%, 1) 68%, hsla(353, 77%, 91%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(353, 77%, 91%, 1) 0%, hsla(354, 70%, 54%, 1) 28%, hsla(354, 70%, 54%, 1) 68%, hsla(353, 77%, 91%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAD8DC", endColorstr="#DC3545", GradientType=1 );
}
.myTable2 .table .progress #progress5{
    background: hsla(216, 80%, 90%, 1);

    background: linear-gradient(45deg, hsla(216, 80%, 90%, 1) 0%, hsla(216, 98%, 52%, 1) 28%, hsla(216, 98%, 52%, 1) 68%, hsla(216, 80%, 90%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(216, 80%, 90%, 1) 0%, hsla(216, 98%, 52%, 1) 28%, hsla(216, 98%, 52%, 1) 68%, hsla(216, 80%, 90%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(216, 80%, 90%, 1) 0%, hsla(216, 98%, 52%, 1) 28%, hsla(216, 98%, 52%, 1) 68%, hsla(216, 80%, 90%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D2E2FA", endColorstr="#0E6EFD", GradientType=1 );
}
.myTable2 .table .progress #progress6{
    background: hsla(153, 83%, 89%, 1);

    background: linear-gradient(45deg, hsla(153, 83%, 89%, 1) 0%, hsla(152, 69%, 31%, 1) 28%, hsla(152, 69%, 31%, 1) 68%, hsla(153, 83%, 89%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(153, 83%, 89%, 1) 0%, hsla(152, 69%, 31%, 1) 28%, hsla(152, 69%, 31%, 1) 68%, hsla(153, 83%, 89%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(153, 83%, 89%, 1) 0%, hsla(152, 69%, 31%, 1) 28%, hsla(152, 69%, 31%, 1) 68%, hsla(153, 83%, 89%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAFAE4", endColorstr="#198754", GradientType=1 );
}

#mainColFour .schWeb img{
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 50px;
}

#mainColFour i{
    font-size: 15px;
}

#largeScreen .calendar{
    display: flex;
    width: 360px;
    height: 450px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: auto;
}

#smallScreen .calendar{
    display: flex;
    width: 500px;
    height: 450px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: auto;
}

#extraSmallScreen .calendar{
    height: 400px;
}
.calendar i{
    color: var(--white);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear{
    text-align: center;
}
.header button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--brown1);
}
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day{
    text-align: center;
    padding: 5px;
    color: var(--brown1);
}
.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: 0.2s;
}
.date:hover,
.date.active{
    background-color: var(--brown3);
    color: #fff;
}
.date.inactive{
    color: var(--brown4);
}
.date.inactive:hover{
    color: #fff;
}