@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --font-family: 'Ubuntu', sans-serif;
    --grey: grey;
    --purple: #ba75ff;
    --light-purple: #d688ff;
    --body-color: #f2edf3;
    --white: #fff;
    --green: #1bcfb4;
    --grey-purple: #beabc1;
    --red: #f75f5f;
    --grey-black: #383838;
}

*{
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--grey-black);
}

html{
    scroll-behavior: smooth;
}
header{
    background: var(--white);
}
.purple{
    color: hsla(280, 100%, 77%, 1);

    color: linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    color: -moz-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    color: -webkit-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D88AFF", endColorstr="#A55EFF", GradientType=1 );
    font-size: 25px;
    font-weight: 900;
}
#first-column i{
    font-size: 22px !important;
    color: var(--light-purple) !important;
}
#main-body-col{
    background: var(--body-color);
}
.search{
    border: 2px solid var(--light-purple);
    padding: 7px;
    /* background-color: var(--grey-purple); */
}
.dark-mode::placeholder{
    color: var(--purple);
    font-weight: 100 !important;
    font-size: 14px;
    letter-spacing: 1px;
}
::placeholder{
    color: var(--grey-black);
    font-weight: 100 !important;
    font-size: 14px;
    letter-spacing: 1px;
}
.navbar-toggler{
    border: none !important;
    font-size: 18px !important;
    padding: 2px !important;
    box-shadow: none !important;
}
i{
    color: var(--light-purple);
    font-size: 20px;
}
/* .name span{
    color: var(--grey);
    font-weight: 300;
} */
.nameDiv img{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid var(--light-purple);
}
#top-row .nameDiv i{
    color: var(--purple);
    font-size: 12px;
}
.light-mode{
    color: var(--white) !important;
}
#side-menu #bookmark-column img, #offcanvasRight .chatlist img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#side-menu #bookmark-column .small-text{
    font-size: 14px;
    font-weight: 500;
}
#side-menu #double-icons h6{
    font-weight: 300;
    font-size: 14px;
}


/* off-canvas */
#offcanvasRight #offcanvashead{
    background: hsla(280, 100%, 77%, 1);

    background: linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D88AFF", endColorstr="#A55EFF", GradientType=1 );
}
#offcanvasRight #offcanvasRightLabel h6{
    color: var(--white);
    font-weight: 300;
}
#offcanvasRight .itemText, p{
    font-weight: 300;
    font-size: 15px;
}
#offcanvasRight .xmark i{
    color: var(--white);
    font-size: 20px;
}
#offcanvasRight .btn{
    background: hsla(280, 100%, 77%, 1);

    background: linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D88AFF", endColorstr="#A55EFF", GradientType=1 );
    
    border: none;
}
#offcanvasRight #todo-list input[type="checkbox"]:checked {
    accent-color: var(--purple);
}
.chatText {
    display: inline-block;
    transition: text-decoration 0.3s;
}
.shadowAdded{
    box-shadow: 1px 4px 23px -5px rgba(214,136,255,0.75);
    -webkit-box-shadow: 1px 4px 23px -5px rgba(214,136,255,0.75);
    -moz-box-shadow: 1px 4px 23px -5px rgba(214,136,255,0.75);
}
.itemText {
    display: inline-block;
    transition: text-decoration 0.3s;
}
.clearTask {
    color: var(--purple); 
}
.completed {
    text-decoration: 2px var(--purple) line-through;
}
.complete {
    color: var(--purple) !important;
}
#offcanvasRight #todo-list i{
    color: var(--grey-purple);
}
#offcanvasRight #todo-list .circle-i i{
    color: var(--purple);
}
#offcanvasRight #todo-list, #chats, .sideMenuSmall, #side-menu{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
#offcanvasRight .alert-danger{
    color: var(--red);
}
#offcanvasRight .alert-purple{
    color: var(--white);

    background: hsla(280, 100%, 77%, 1);

    background: linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(280, 100%, 77%, 1) 32%, hsla(266, 100%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D88AFF", endColorstr="#A55EFF", GradientType=1 );
}
#offcanvasRight .alert{
    padding: 5px;
    text-align: center;
    border: none;
}

#offcanvasRight .chatlist small{
    color: var(--grey);
}
#offcanvasRight .chatlist span{
    color: var(--grey);
    font-size: 14px;
}
